
// booststrap customization
$btn-padding-y: 10px;
$btn-padding-x: 28px;
$btn-font-family: "Poppins", sans-serif;
$btn-font-size: 14px;
$btn-border-radius: 5px;
$btn-line-height: 1rem;
$btn-disabled-opacity: 0.75;

// additional button classes
.btn-link {
  text-decoration: none !important;
}

.btn-link-primary {
  color: $k-red !important;
}

.btn-link-success {
  color: $k-success !important;
}

.btn-link-info {
  color: $k-info !important;
}

.btn-link-warning {
  color: $k-warning !important;
}

.btn-cta{
  padding: 15px 48px !important;
  font-size: 24px !important;
  border-bottom: 3px solid $k-red-hover !important;
}

.icon {
  margin-right: 8px;
}

// button:focus {
//   outline: 0;
// }

// .k-btn {
//   color: $k-white;
//   font-size: 14px;
//   font-family: "Poppins", sans-serif;
//   padding: 10px 28px;
//   border-style: solid;
//   border-width: 1px;
//   border-radius: 5px;
//   cursor: pointer;
//   outline: none;

//   .icon {
//     margin-right: 8px;
//   }
// }

// .k-btn-primary {
//   background-color: $k-red;
//   border-color: $k-red;
// }

// .k-btn-success {
//   background-color: $k-success;
//   border-color: $k-success;
// }

// .k-btn-info {
//   background-color: $k-blue;
//   border-color: $k-blue;
// }

// .k-btn-warning {
//   background-color: $k-yellow;
//   border-color: $k-yellow;
// }

// .k-btn-outline-primary {
//   background-color: $k-white;
//   border-color: $k-red;
//   color: $k-red;
// }

// .k-btn-outline-success {
//   background-color: $k-white;
//   border-color: $k-success;
//   color: $k-success;
// }

// .k-btn-outline-info {
//   background-color: $k-white;
//   border-color: $k-blue;
//   color: $k-blue;
// }

// .k-btn-outline-warning {
//   background-color: $k-white;
//   border-color: $k-yellow;
//   color: $k-yellow;
// }
