@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;

@font-face {
  font-family: "museo";
  src: url("/fonts/Museo300-Regular.otf") format("opentype");
}

$font-poppins: poppins;
$font-museo: museo;
$font-raleway: "Raleway", sans-serif;
$font-lato: "Lato", sans-serif;

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-museo;
}

a {
  font-family: $font-poppins;
  color: $k-white;
}

p {
  font-family: $font-raleway;
}
