// Colors
$k-red: #ee312f;
$k-blue: #39c2d7;
$k-black: #000000;
$k-black-2: #202e43;
$k-yellow: #fbb040;
$k-white: #ffffff;
$k-green: #6dc067;
$k-red-hover: #f56e7a;
$k-red-pressed: #cd2e5a;
$k-text-color-1: #444444;
$k-text-color-2: #727272;
$k-text-color-3: #bbbbbb;
$k-text-color-4: #565656;
$k-text-color-5: #989898;
$k-success: #16cc74;
$k-info: #3852f7;
$k-warning: #fccf2d;
$k-calendar-grey: #efefef;
$k-grey: #8395ac;
$k-background: #fafafa;
$k-dashboard-background: #f5f5fb;
$fa-font-path: "/webfonts";

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px
) !default;
