@import "@/styles/global.scss";

.search-field {
  .input-group-prepend {
    .input-group-text {
      background-color: $k-white;
      color: #959595;
      border-right-color: white;
    }
  }

  .search-input {
    width: 300px;
  }
}

.pagination-controls {
  color: $k-text-color-2;
  .pagination-info {
    // font: Italic 16px/25px Poppins;
    @include k-font(
      toRem(16px),
      false,
      $font-weight-medium,
      toRem(25px),
      $font-poppins
    );
    font-style: italic;
  }
}
