@import "@/styles/global.scss";
.blog {
  h1 {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    a{
      font-size: 48px;
    }
  }
}
