@import "@/styles/global.scss";

.dashboard-content {
  padding-right: 0px;
}

.create-blog {
  .post-contents {
    .post-form {
      padding-top: 35px;

      @include k-font(
        toRem(14px),
        false,
        $font-weight-medium,
        false,
        $font-poppins
      );

      label {
        color: #111026;
      }

      .tag {
        padding: 5px 25px;
        margin-right: 20px;
        margin-top: 10px;
        border-radius: 20px;
        background-color: $k-info;
        color: $k-white;
        cursor: pointer;
      }

      .selected-tag {
        padding: 2px 10px;
        font-size: 12px;
        margin-right: 20px;
        border: 1px solid $k-info;
        color: $k-info;
        border-radius: 20px;
        float: left;

        i {
          cursor: pointer;
          color: $k-red;
        }
      }
    }
  }

  .post-settings {
    width: 300px;
    margin-top: -80px;
    padding-left: 60px;
    padding-top: 80px;
    background-color: $k-white;

    .title {
      // font: Medium 24px/35px Poppins;
      @include k-font(
        toRem(24px),
        $k-text-color-2,
        $font-weight-medium,
        35px,
        $font-poppins
      );
    }
  }
}
