@import "@/styles/global.scss";

.login-page {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/login-background.png");
  background-size: cover;
  background-position: center;

  @include k-font(
    toRem(12px),
    $k-black,
    $font-weight-medium,
    toRem(18px),
    $font-poppins
  );

  .login-card {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    background-color: $k-white;
    padding: 65px 50px;
    border-radius: 5px;
    z-index: 2;

    @include media-breakpoint-down(sm) {
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .logo {
      height: 40px;
      margin-bottom: 25px;
    }

    .form-group {
      label {
        font-size: 12px;
      }
    }

    .login-options {
      label {
        font-size: 14px;
      }
      a {
        color: $k-info;
      }
    }
  }
}

.login-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $k-black;
  opacity: 0.5;
  z-index: 1;
}
