@import "@/styles/global.scss";

.products {
  margin-top: 90px;
  padding-top: 175px;

  @include media-breakpoint-down(md) {
    padding-top: 80px;
  }
}

.attribute-name {
  @include k-font(toRem(24px), false, $font-weight-regular, false, $font-museo);

  width: 100%;
  height: 90px;
  // line-height: 90px;
}

.v-spacer {
  // half of circle + gap + title + gap
  height: calc(83px + 24px + 30px + 30px);
}
