@import "@/styles/global.scss";

.image-upload-card {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(238, 49, 47, 0.1);
  padding: 50px 30px;
  margin-bottom: 40px;

  .avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: $k-red;

    text-align: center;
    line-height: 110px;
    color: white;
    font-size: toRem(40px);
    text-align: center;

    img {
      width: 50%;
      height: 50%;
    }
  }
}

form {
  label,
  input[type="text"],
  textarea {
    @include k-font(
      toRem(14px),
      $k-text-color-1,
      $font-weight-medium,
      toRem(21px),
      $font-poppins
    );
  }

  label {
    font-weight: $font-weight-bold;
  }

  input[type="text"] {
    color: #959595;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;

  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
