@import "@/styles/global.scss";

.about-main {
  position: relative;
  margin-top: 90px;

  @include media-breakpoint-down(md) {
    margin-top: 10px;
  }

  .karkhana-team {
    color: $k-white;
    background-color: $k-red;

    h1.title {
      margin-top: 140px;
      @include k-font(
        toRem(64px),
        $k-white,
        $font-weight-regular,
        toRem(77px),
        $font-museo
      );

      @include media-breakpoint-down(md) {
        margin-top: 50px;
        text-align: center;
        font-size: toRem(48px);
        line-height: inherit;
      }
    }

    p.description {
      width: 555px;
      margin-top: 26px;
      @include k-font(
        toRem(24px),
        $k-white,
        $font-weight-medium,
        36px,
        $font-poppins
      );

      @include media-breakpoint-down(md) {
        width: 100%;
        text-align: center;
      }
    }

    .about-video-thumbnail {
      position: relative;
      width: 100%;
      height: 354px;
      margin-top: 90px;
      border-radius: 5px;
      background-image: url("/images/karkhana-team.jpg");
      background-size: cover;
      background-position: center;
      box-shadow: 1px 17px 17px -6px rgba(71, 71, 71, 0.75);

      .play {
        font-size: toRem(70px);
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }

      .about-video-thumbnail-overlay {
        // content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 354px;
        background-color: $k-black;
        opacity: 0.3;
        z-index: 1;
      }
    }

    .video-wrapper {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 354px;
      margin-top: 90px;
      border-radius: 5px;
      box-shadow: 1px 17px 17px -6px rgba(71, 71, 71, 0.75);

      img.k-loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }

    .video-wrapper::after {
      padding-top: 56.25%;
      display: block;
      content: "";
    }
  }

  .red-wave {
    width: 100vw;
    height: 430px;
    background-image: url("/images/red-wave.svg");
    background-repeat: no-repeat;
    margin-top: -5px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .company-ethics {
    .card {
      margin-top: -430px;
      border: none;

      @include media-breakpoint-down(md) {
        margin-top: 0;
      }

      .card-img-top {
        width: 100%;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .card-body {
        padding: 56px 69px 69px 69px;
        box-shadow: 0px 19px 70px 0px rgba(70, 69, 69, 0.75);

        @include media-breakpoint-down(md) {
          padding: 10px;
          box-shadow: none;
          text-align: center;
        }
      }
    }

    .more-content {
      margin-top: -50px;
      margin-left: 50px;

      @include media-breakpoint-down(md) {
        margin: 0;
        text-align: center;
      }
    }

    .title {
      @include k-font(
        toRem(36px),
        $k-text-color-1,
        $font-weight-regular,
        toRem(43px),
        $font-museo
      );
    }

    .subtitle {
      font: Medium 24px/36px Raleway;
      @include k-font(
        toRem(24px),
        $k-text-color-1,
        $font-weight-medium,
        toRem(36px),
        $font-raleway
      );
    }

    .content {
      @include k-font(
        toRem(18px),
        $k-text-color-4,
        $font-weight-regular,
        toRem(36px),
        $font-raleway
      );
    }
  }
}
