@import "@/styles/global.scss";

.about-careers {
  position: relative;
  padding-top: 230px;
  padding-bottom: 140px;

  @include media-breakpoint-down(md) {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .career-image {
    width: auto;
    background-image: url("/images/careers.png");
    background-size: cover;
    height: 450px;
    position: relative;

    @include media-breakpoint-down(md) {
      // width: 100vw;
      // margin-left: -35px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .career-notice {
      position: absolute;
      padding: 70px 60px 60px 60px;
      background-color: $k-white;
      transform: translate(-50%, -25%);
      @include k-shadow();

      .title {
        @include k-font(
          toRem(16px),
          $k-red,
          $font-weight-semi-bold,
          toRem(28px),
          $font-poppins
        );
      }

      .description {
        width: 280px;
        @include k-font(
          toRem(24px),
          $k-text-color-1,
          $font-weight-regular,
          toRem(36px),
          $font-museo
        );
      }

      @include media-breakpoint-down(md) {
        padding: 30px 20px 20px 20px;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -25%);

        .title {
          font-size: 14px;
          line-height: initial;
        }

        .description {
          font-size: 18px;
          line-height: initial;
        }
      }
    }
  }
}
