@import "@/styles/global.scss";

.careers-main {
  padding: 6rem 0;
  background-color: $k-white;
  height: 100vh;

  @include media-breakpoint-down(md) {
    text-align: center;
    padding: 3rem 0;

    .btn-see-all-openings {
      padding: 7px 36px !important;
    }
  }

  .title {
    @include k-font(
      toRem(64px),
      false,
      $font-weight-regular,
      torem(80px),
      $font-museo
    );

    @include media-breakpoint-down(md) {
      font-size: toRem(48px);
      line-height: inherit;
    }
  }

  .description {
    margin-top: 24px;
    @include k-font(
      toRem(24px),
      false,
      $font-weight-regular,
      torem(36px),
      $font-raleway
    );

    @include media-breakpoint-down(md) {
      font-size: toRem(18px);
      line-height: inherit;
    }
  }

  .careers-img {
    position: absolute;
    top: -10%;
    right: -15%;
    width: 50%;
  }
}
