@import "@/styles/global.scss";
@import "@/styles/global.scss";
.contact-map {
  .map {
    width: 100%;
    margin-top: 30px;
  }

  .page-title {
    @include k-font(
      toRem(20px),
      $k-black,
      $font-weight-regular,
      toRem(43px),
      $font-museo
    );

    @include media-breakpoint-down(md) {
      font-size: toRem(20px);
    }
  }
}
