@import "@/styles/global.scss";

.dashboard-nav {
  padding-left: 38px;
  padding-top: 36px;
  min-width: 280px;
  height: 100vh;
  overflow: auto;
  transition: all 0.3s ease-in-out;

  .nav-logo {
    img {
      width: 130px;
      transition: all 0.3s ease-in-out;
    }
    transition: all 0.3s ease-in-out;
  }

  .nav-link-list {
    transition: all 0.3s ease-in-out;
    .nav-link-list-item {
      margin-top: 40px;
      border-right: 4px solid white;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: all 0.3s ease-in-out;

      a {
        display: inline-block;
        height: 100%;
        @include k-font(
          toRem(16px),
          $k-black,
          $font-weight-regular,
          toRem(25px),
          $font-poppins
        );
        text-decoration: none;
        transition: all 0.3s ease-in-out;
      }

      i {
        margin-right: 40px;
      }
    }

    .nav-link-list-item-selected {
      border-right-color: $k-red;
      i {
        color: $k-red;
      }
    }
  }

  .user-profile-menu {
    margin-top: 40px;
    margin-bottom: 40px;
    transition: all 0.3s ease-in-out;

    #user-profile-button {
      border-radius: 23px;

      &::after {
        display: none;
      }

      img {
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }

      .username {
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &.--minimized {
    min-width: 100px;
    padding-left: 30px;
    padding-top: 6px;

    .nav-logo {
      img {
        // display: none;
        width: 50px;
        margin-left: -20px;
      }
    }

    .nav-link-list {
      .nav-link-list-item {
        padding-right: 10px;
        margin-top: 20px;
        a {
          i {
            margin-right: 5px;
          }
          span {
            display: none;
          }
        }
      }
    }

    .user-profile-menu {
      margin-left: -15px;
      position: absolute;
      bottom: 10px;

      .username {
        display: none;
      }
    }
  }
}
