@import "@/styles/setup/_variables";
@import "@/styles/setup/_typography";
@import "@/styles/setup/_mixins";

$cal-border-radius: 10px;
$cal-margin: 20px;
$cal-padding: 60px;
$cal-header-height: 70px;
$cal-cell-min-size: 43px;
$cal-font-family: "Lato", sans-serif;
$cal-text-color: #202e43;
$cal-text-color-2: #8395ac;

$evt-width: 308px;
$evt-background-color: #efefef;

.calendar-container {
  display: flex;
  border-radius: $cal-border-radius;
  margin: $cal-margin;
  background-color: white;
  font-family: $cal-font-family;

  .calendar {
    flex-grow: 1;
    padding: $cal-padding;
    padding-right: $cal-padding/2;

    .cal-header {
      width: 100%;
      height: $cal-header-height;
      display: flex;

      .cal-btn {
        width: $cal-header-height;
        height: $cal-header-height;
        line-height: $cal-header-height;
        cursor: pointer;
      }

      .current-month {
        width: auto;
        height: $cal-header-height;
        @include k-font(
          16px,
          $cal-text-color,
          $font-weight-bold,
          28px,
          $font-poppins
        );
      }
    }

    .cal-body {
      table {
        width: 100%;
      }
      .cell {
        width: $cal-cell-min-size;
        height: $cal-cell-min-size;
        margin: 0 auto;
        line-height: $cal-cell-min-size;
        border: solid 1px transparent;
        text-align: center;
        transition: all 0.5s ease;

        .event-dot {
          width: 4px;
          height: 4px;
          border-radius: 100%;
          margin: 0 auto;
          margin-top: -10px;
        }
        .event-dot-public {
          background-color: $k-success;
        }
      }

      .cell-week {
        @include k-font(
          14px,
          $cal-text-color-2,
          $font-weight-medium,
          28px,
          $font-poppins
        );
      }

      .cell-date {
        @include k-font(
          18px,
          $cal-text-color,
          $font-weight-medium,
          false,
          $font-poppins
        );
      }

      .cell-empty {
        color: #e3e3e3;
        cursor: default;
      }

      .cell-current {
        background-color: #ffd369;
        border-radius: 100%;
      }
    }
  }

  .events {
    background-color: $evt-background-color;
    border-top-right-radius: $cal-border-radius;
    border-bottom-right-radius: $cal-border-radius;
    width: $evt-width;
    padding-top: $cal-padding;
    padding-left: $cal-padding/2;
    padding-right: $cal-padding/2;
    padding-bottom: 10px;

    .event-type {
      @include k-font(12px, #202e43, $font-weight-bold, 28px, $font-lato);
    }

    .event-type-dot {
      display: inline-block;
      $size: 8px;
      width: $size;
      height: $size;
      margin-right: 12px;
      border-radius: 100%;
    }

    .event-type-dot-public {
      background-color: $k-success;
    }

    .event-type-dot-private {
      background-color: $k-warning;
    }

    .events-scroll-area {
      position: relative;
      height: 300px;
    }

    .event-list {
      margin-top: 35px;
    }

    .event-date {
      font-size: 12px;
      font-weight: $font-weight-bold;
      color: #8395ac;
    }

    .event-list-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      .event-start-time {
        grid-area: 1 / 1 / 3 / 2;
        width: 80px;
        border-right: 3px solid #8395ac;
        font-size: 14px;
        font-weight: $font-weight-bold;
        margin-top: 4px;
      }
      .event-title {
        grid-area: 1 / 2 / 2 / 3;
        font-size: 14px;
        font-weight: $font-weight-regular;
        color: #8395ac;
      }
      .event-location {
        grid-area: 2 / 2 / 3 / 3;
        font-size: 12px;
        font-style: italic;
        color: #1dc4ab;
      }
    }

    .scroll-sign {
      color: #8395ac;
    }
  }
}
