@import "@/styles/global.scss";

section.home-slider {
  width: 100vw;
  height: 100vh;
  .slides {
    width: 100%;
    height: 100%;

    .slide {
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
      }

      .slide-title {
        position: absolute;
        bottom: 170px;
        left: 140px;
        max-width: toRem(1057px);
        @include k-font(
          toRem(64px),
          $k-white,
          $font-weight-regular,
          toRem(77px),
          $font-museo
        );
        z-index: 2;

        @include media-breakpoint-down(md) {
          left: 50%;
          top: 20%;
          transform: translateX(-50%);
          font-size: 48px;
          text-align: center;
          width: 90%;
        }
      }

      .slide-cta {
        position: absolute;
        bottom: 84px;
        left: 140px;
        z-index: 2;

        @include media-breakpoint-down(md) {
          left: 50%;
          bottom: 10%;
          transform: translateX(-50%);
        }
      }

      .slide-image {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
      }
    }
  }

  // Arrows
  .slider-arrow {
    position: absolute;
    height: 57px;
    width: 57px;
    border-radius: 100%;
    background-color: $k-white;
    text-align: center;
    line-height: 57px;
    cursor: pointer;
    z-index: 200000;
  }

  .arrow-prev {
    bottom: 159px;
    right: 139px;
  }

  .arrow-next {
    bottom: 80px;
    right: 139px;
  }
}
