@import "@/styles/global.scss";

section.events {
  background-color: $k-red;
  padding: 150px;
  padding-bottom: 125px;
  @include media-breakpoint-down(md) {
    padding: 5%;
    padding-bottom: 150px;
  }
  // margin-bottom: -150px;
  .calendar-title {
    font-weight: $font-weight-regular;
    font-size: 36px;
    font-family: museo;
    color: $k-white;
    text-align: center;
    margin-bottom: 40px;
  }
}
