@import "@/styles/setup/_variables";
@import "@/styles/setup/_typography";
@import "@/styles/setup/_mixins";
@import "@/styles/setup/_helpers";
@import "@/styles/setup/_functions";

.slides {
  width: 100vw;
  height: 100vh;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
  }

  .slide {
    position: relative;

    .slide-title {
      position: absolute;
      bottom: 170px;
      left: 140px;
      max-width: toRem(1057px);
      // font: Regular 64px/77px Museo 700;
      @include k-font(
        toRem(64px),
        $k-white,
        $font-weight-regular,
        toRem(77px),
        $font-museo
      );
      // color: $k-white;
      // font-weight: $font-weight-regular;
      // font-size: 4rem;
      z-index: 2;
    }

    .slide-cta {
      position: absolute;
      bottom: 84px;
      left: 140px;
      z-index: 2;
    }

    .slide-image {
      width: 100vw;
      height: 100vh;
      background-size: cover;
    }
  }
}

// Arrows
.slider-arrow {
  position: absolute;
  height: 57px;
  width: 57px;
  border-radius: 100%;
  background-color: $k-white;
  text-align: center;
  line-height: 57px;
  cursor: pointer;
}

.arrow-prev {
  bottom: 159px;
  right: 139px;
}

.arrow-next {
  bottom: 80px;
  right: 139px;
}

// slick-prev
