@import "@/styles/global.scss";

.product-item {
  position: relative;
  padding-top: calc(83px + 24px);
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 35px;

  .product-logo-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 167px;
    height: 167px;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center;

    .img-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      img {
        width: 65px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .title {
    text-align: center;
    @include k-font(
      toRem(24px),
      false,
      $font-weight-regular,
      toRem(28px),
      $font-museo
    );
    margin-bottom: 30px;
  }

  .attribute-value {
    @include k-font(
      toRem(18px),
      $k-text-color-1,
      $font-weight-medium,
      false,
      $font-poppins
    );
    width: 100%;
    height: 90px;
    text-align: center;
  }

  // Should match on products.scss
  .attribute-name {
    @include k-font(
      toRem(24px),
      false,
      $font-weight-regular,
      false,
      $font-museo
    );

    width: 100%;
    height: 90px;
  }

  .btn-learn-more {
    display: block;
    text-decoration: none;
    width: calc(100% + 100px); // plus padding
    margin-left: -50px;
    padding: 20px 50px;
    color: $k-white;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @include k-font(
      toRem(18px),
      false,
      $font-weight-medium,
      false,
      $font-poppins
    );
    outline: none;
  }

  table {
    width: 100%;

    .attribute-name {
      text-align: left;
      font-size: toRem(18px);
      padding-right: 30px;
    }

    .attribute-value {
      text-align: left;
      font-size: toRem(16px);
      width: 195px;
    }
  }
}

.product-item-science {
  background-color: #deefdc;
  .product-logo-circle {
    background-color: $k-green;
  }

  .title {
    color: #16cc74;
  }

  .btn-learn-more {
    background-color: $k-green;
  }
}

.product-item-computing {
  background-color: #d3eff3;
  .product-logo-circle {
    background-color: $k-blue;
  }

  .title {
    color: #39c2d7;
  }

  .btn-learn-more {
    background-color: $k-blue;
  }
}

.product-item-make {
  background-color: #faebd5;
  .product-logo-circle {
    background-color: $k-yellow;
  }

  .title {
    color: #fbb040;
  }

  .btn-learn-more {
    background-color: $k-yellow;
  }
}

.brochure-link {
  text-decoration: none;
}

.brochure-link-science {
  color: $k-green;
}
.brochure-link:hover {
  color: inherit;
}

.brochure-link-computing {
  color: $k-blue;
}
.brochure-link:hover {
  color: inherit;
}

.brochure-link-make {
  color: $k-yellow;
}
.brochure-link:hover {
  color: inherit;
}
